@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=JetBrains+Mono:wght@700&display=swap');

:root {
    --cor1: #fce592;
    --cor2: #1B2338;
    --cor3: #0D1010;
    --cor4: #D15D64;
    --cor5: #E98333;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    box-sizing: border-box; /*essa propriedade controla o tamanho dos filhos, para que eles não vazem.*/
    color: whitesmoke;
    background: url(/images/darkstar_bg.png) no-repeat top center;
    background-attachment: fixed;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho_menu_links {
    padding: 0 20px 0 0;
}

.cabecalho_menu_links {
    font-size: 24px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    color: var(--cor1);
}

h1 {
    font-weight: bold;
}

.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin: 3% 15% 10% 15%;
}

.conteudo__texto {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo__texto__titulo {
    font-size: 34px;
    font-family: "JetBrains", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.conteudo__texto__titulo__destaque {
    color: var(--cor1);
}

.conteudo__texto__subtitulo {
    font-size: 24px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px; /* adiciona espaços iguais entre cada elemento */
}

.conteudo__links__subtitulo {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--cor1);
}

.conteudo__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    background-color: var(--cor1);
    border: 3px solid var(--cor3);
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cor4);
    padding: 21.5px 0;
}

.conteudo__links__link:hover {
    background-color: var(--cor2);
    border-color: var(--cor1);
    color: var(--cor1);
}

.rodape {
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    color: var(--cor2);
    background-color: var(--cor4);
    text-align: center;
    padding: 15px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}

.rodape__destaque {
    font-weight: bold;
}