@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=JetBrains+Mono:wght@700&display=swap');

@media (max-width: 1200px) {
    .conteudo {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 2%;
        width: auto;
    }

    .cabecalho {
        padding: 10% 0 0 10%;
    }

    .cabecalho_menu {
        margin-left: 0;
        justify-content: center;
    }

    .cabecalho_menu_links {
        padding-right: 0;
    }

    .conteudo__texto {
        width: auto;
    }
}

.cabecalho_menu_links:hover {
    color: var(--cor5);
}

:root {
    --cor1: #fce592;
    --cor2: #1B2338;
    --cor3: #0D1010;
    --cor4: #D15D64;
    --cor5: #E98333;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    box-sizing: border-box; /*essa propriedade controla o tamanho dos filhos, para que eles não vazem.*/
    background: url(/anexos/darkstar_bg.png) no-repeat top center;
    background-attachment: fixed;
}

.cabecalho {
    padding: 2% 0 0 0;
    color: var(--cor1);
}

.cabecalho_menu {
    display: flex;
    align-content: flex-start;
    margin-left: 15%;
}

.cabecalho_menu_links:hover {
    color: var(--cor5);
    text-decoration: none;
}

.cabecalho_menu_links {
    padding-right: 15%;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    color: var(--cor1);
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 3% 15% 10% 15%;
}

.conteudo__texto {
    color: whitesmoke;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.conteudo__texto__titulo {
    font-size: 2.125rem;
    font-family: "JetBrains", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.conteudo__texto__titulo__destaque {
    color: var(--cor1);
}

.conteudo__texto__subtitulo {
    font-size: 1.5rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo__navegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem; /* adiciona espaços iguais entre cada elemento */
}

.conteudo__navegacao__subtitulo {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--cor1);
}

.conteudo__navegacao__link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    background-color: var(--cor1);
    border: 0.188rem solid var(--cor3);
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cor4);
    padding: 1.344rem 0;
}

.conteudo__navegacao__link:hover {
    background-color: var(--cor2);
    border-color: var(--cor1);
    color: var(--cor1);
}

.conteudo_imagem {
    width: 50%;
}

.sobre {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    margin: 3% 15% 10% 15%;
}

.sobre_titulo {
    color: var(--cor5);
    font-size: 1.5rem;
    font-family: "JetBrains", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sobre_texto {
    color: whitesmoke;
    text-align: justify;
    font-size: 1.375rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;   
    width: 43.75px;
    height: 30.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape {
    color: var(--cor2);
    background-color: var(--cor4);
    text-align: center;
    padding: 0.938rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    margin: 0;
}

.rodape__destaque {
    font-weight: bold;
}

